html{
    min-width: 50em;
    background-color: #2a2a3a;
}

ul{
   list-style-type:none;
}

a{
    color: aliceblue;
    text-decoration: transparent;
}


a:hover{
    text-decoration: underline rgb(32, 151, 255);
}

.background-image{
    background-repeat: repeat;
    background-position: left;
    background-size: cover;
    padding-top: 1em;
    padding-bottom: 10em;
    background-image: url("textures/philips_ruins_temple.png");
    border-bottom: 2px rgb(196, 196, 196) solid;
}

.nav-container{
    display: flex;

    max-width: 90%;
    position: relative;
    justify-content: space-between;
    background-color: #42414d;
    padding-top: 0.5%;
    margin-left: 2em;
    padding-bottom: 0.5%;
    border: 2px solid wheat;
    border-radius: 10px;
    color: aliceblue;
}

.nav-box{
    position: relative;
    justify-content: right;
    text-align: right;
    padding-right: 10%;
    font: 1.3em sans-serif;
}

.nav-open-box{
    position: relative;
    color: aliceblue;
    justify-content: right;
    text-align: right;
    padding-left: 20%;
    font: 1.3em sans-serif;
}


.list-set{
    max-width: 100%;
    max-height: 100%;
 }
 
 .menu{
    cursor: pointer;
     margin-left: 2em;
     justify-content: left;
 }
 
 .list-element:hover{
    cursor: pointer;
    font: 1em sans-serif;
    text-transform: uppercase;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    color: #00afca;
    text-decoration: transparent;
 }

 .list-element{
    font: 1em sans-serif;
    text-transform: uppercase;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
 }

 .list-set{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
 }
 
 .link-box{
    border-radius: 10px;
    transition: color 2s ease-in-out;
    color: aliceblue;
    display: inline-block;
    visibility: hidden;
    background-color: #1c1b22;
    margin-left: 2em;
    margin-top: 5px;
    border: 2px solid wheat;
}

.elements{
    cursor: pointer;
    margin: auto;
}

.copyright-container{
    display: block;
    background-color: #333344;
}

.copright-box{
    display: block;
    margin: auto;
    margin-top: 2em;
    width: 70%;
    border: 2px solid wheat;
    padding: 20px;
    background-color: #42414d;
    color: rgb(231, 231, 231);
    font: 1.5em sans-serif;
}

.Contact-Author{
    color: aliceblue;
    text-decoration: transparent;
}
.Contact-Author:hover{
    text-decoration: underline aliceblue;
}
